/* ------------------------------------------------------------------------------------------------------------------------ */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                      CSS MEET                                                            */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------------ */
.site-main .wp-block-group__inner-container {
    padding: 0;
}
.page-id-22 body {
    position: relative;
}
.meet-page {
    position: relative;
    max-width: 1440px;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                      SECTION                                                             */
/*                                                     meet-head                                                            */
/*                                                                                                                          */
/*                                                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------------ */
.meet-head {
    max-width: 1440px !important;
    height: 20.69rem;
}
.meet-head-bloc {
    margin-top: 11.6rem !important;
    height: 9rem;
}
.meet-head-bloc-title {
    color: #d2776a;
    width: 42.5rem;
    font-size: 38px;
    font-weight: 800;
}
.meet-head-bloc-text {
    width: 42rem;
    height: 4.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                      SECTION                                                             */
/*                                                     meet-team                                                            */
/*                                                                                                                          */
/*                                                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------------ */
.meet-team-decor .wp-image-330 {
    width: 90rem !important;
    min-height: 34.625rem;
}
.meet-team {
    position: absolute;
    top: 20.69rem;
    width: 100%;
    max-width: 1440px !important;
    height: 25.94rem !important;
    z-index: 1;
}
.meet-team-title {
    font-size: 30px;
    font-weight: 700;;
    margin-bottom: 3rem !important;
    margin-top: 8.69rem !important;
}
.meet-team-bloc {
    margin-bottom: 5rem !important;
}
.meet-team-bloc-1 {
    margin-left: 20rem !important;
}
.meet-team-bloc-3 {
    margin-right: 20rem !important;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                      SECTION                                                             */
/*                                                     meet-form                                                            */
/*                                                                                                                          */
/*                                                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------------ */
.meet-form-bloc-colonn {
    min-height: 60.25rem;
}
.meet-form-title {
    margin-top: 4.12rem !important;
    margin-bottom: 2.88rem !important;
}
.meet-form {
    position: absolute;
    left: 36.66%;
    top: 56%;
    min-height: 38.31rem !important;
    z-index: 1;
}
.meet-form p {
    max-width: 23.94rem !important;
    margin-bottom: 1.37rem;
}
.meet-form.invalid {
    max-width: 23.94rem !important;
}
.page-id-22 .wpcf7-response-output {
    background-color: #FFFFFF;
    color: #000000 !important;
    border-color: #FFFFFF !important;
    border-radius: 5px;
    position: absolute;
    left: -13rem;
    width: 50rem;
    margin: 0;
}
#wpcf7-f5-p22-o1 input[type="text"],
#wpcf7-f5-p22-o1 input[type="email"] {
    width: 24rem;
    max-height: 4.45rem !important;
    border-radius: 7px;
    margin-top: 0.81rem;
}
#wpcf7-f5-p22-o1 textarea {
    width: 24rem;
    max-height: 17.12rem !important;
    border-radius: 7px;
    margin-top: 0.81rem;
}
#wpcf7-f5-p22-o1 label {
    font-size: 20px;
}
#wpcf7-f5-p22-o1 input[type="submit"] {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 12.38rem;
    height: 3.5rem;
    background-color: #E0B9B4;
    color: #FFFFFF;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 0.13rem !important;
}
#wpcf7-f5-p22-o1 input[type="submit"]:hover {
    background-color: #C02E44 !important;
    color: #FFFFFF !important;
}
/* Empêche le redimensionnement */
#wpcf7-f5-p22-o1 textarea.wpcf7-textarea {
    resize: none;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                     Médias                                                               */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------------ */
.meet-head-plant {
    position: absolute;
    z-index: 1;
    top: 3.831%;
    left: 9.93%;
}
.meet-team-decor {
    top: 25.7rem;
    width: 100%;
    height: 34.94rem;
}
.meet-team-plant {
    position: absolute;
    z-index: 1;
    top: 36%;
    left: 82.5%;
}
.meet-form-plant {
    position: absolute;
    z-index: 0;
    top: 78.75%;
    left: 30.7%;
}
.meet-foot {
    height: 8.18rem;
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                  CSS RESPONSIVE                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------ */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                   LAPTOP 1024px                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------------ */
@media (max-width: 1024px) {
    .meet-head-plant {
        top: 1.5% !important;
        left: 3% !important;
    }
    .meet-team-plant {
        top: 36.75%;
    }
    .meet-team-bloc-1 {
        margin-left: 11rem !important;
    }
    .meet-team-bloc-3 {
        margin-right: 11rem !important;
    }
    .meet-form {
        left: 33%;
    }
    .meet-form-plant {
        left: 24.75%;
    }
    .meet-foot {
        height: 5.875rem;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                     TABLET 768px                                                         */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------------ */
@media (max-width: 768px) {
    .meet-head-plant {
        top: 0.5% !important;
    }
    .meet-team-plant {
        top: 38%;
        left: 58% !important;
    }
    .wp-image-50 {
        width: 10rem;
        height: 10rem;
    }
    .meet-team-bloc-1 {
        margin-left: 2rem !important;
    }
    .meet-team-bloc-3 {
        margin-right: 2rem !important;
    }
    .meet-form {
        left: 25%;
    }
    .meet-form-plant {
        left: 14%;
    }
    .meet-foot {
        height: 4.369rem;
    }
    .wpcf7-response-output {
        width: 750px !important;
        margin-left: 1.5rem !important;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                     SMARTPHONE 475px                                                     */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------------ */
@media (max-width: 475px) {
    .meet-head-bloc {
        width: 100%;
    }
    .meet-head-plant {
        width: 7rem !important;
        height: 7rem !important;
    }
    .wp-image-62 {
        width: 7rem !important;
        height: 7rem !important;
    }
    .meet-head-bloc-title {
        width: 85%;
        font-size: 20px !important;
    }
    .meet-head-bloc-text {
        width: 100%;
        font-size: 18px !important;
    }
    .meet-team {
        height: 67rem !important;
    }
    .meet-team-title {
        margin-top: 9.5rem !important;
    }
    .meet-team-bloc-1,
    .meet-team-bloc-3 {
        margin: 0 !important;
    }
    .meet-team-decor {
        height: 67rem !important;
    }
    .meet-team-decor .size-full {
        height : 67rem !important;
    }
    .wp-image-330 {
        height: 67rem !important;
    }
    .meet-team-bloc {
        flex-direction: column !important;
    }
    .meet-team-plant {
        width: 160px !important;
        top: 76.30rem;
        left: 16.5rem !important;
    }
    .meet-form {
        left: 1rem;
        top: 100rem;
    }
    .meet-form-plant {
        left: -2rem;
        top: 127rem;
    }
    .meet-foot {
        height: 2.375rem !important;
    }
    .wp-image-63 {
        margin: 0;
    }
    .page-id-22 .wpcf7-response-output {
        left: -1.1rem !important;
        right: 0;
        min-width: 420px !important;
        max-width: 420px !important;
        margin: 0.25rem !important;
        font-size: 16.5px !important;
        text-align: center;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                     MOBILE M 375px                                                       */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------------ */
@media (max-width: 375px) {
    .main-nav {
        margin-right: 4rem !important;
    }
    .meet-head-bloc-title {
        font-size: 18px !important;
    }
    .meet-head-bloc-text {
        width: 90% !important;
    }
    .meet-team-plant {
        width: 7rem !important;
        top: 79.75rem;
    }
    .wp-image-330 {
        height: 67rem !important;
    }
    .meet-form {
        width: 19.75rem;
        left: 1.85rem;
    }
    .page-id-22 .wpcf7-response-output {
        left: 0rem !important;
        max-width: 320px !important;
        min-width: 320px !important;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------ */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                     MOBILE S 320px                                                       */
/*                                                                                                                          */
/*                                                                                                                          */
/*                                                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------------ */
@media (max-width: 320px) {
    .meet-head-bloc-title {
        font-size: 15px !important;
    }
    .meet-head-bloc-text {
        font-size: 13px !important;
    }
    .meet-team-title {
        font-size: 18px !important;
        margin-top: 12rem !important
    }
    .meet-team-plant {
        left: 13rem !important;
    }
    .meet-form {
        width: 310px;
        left: 0.25rem !important;
    }
    .page-id-22 .wpcf7-response-output {
        left: -0.5rem !important;
        font-size: 15px !important;
    }
}